{% extends 'new_base.html' %}

{% block title %}
Registration
{% endblock title %}

{% block css %}

<style>
        .registration-form {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            width: 300px;
        }

        .registration-form h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .registration-form .form-control {
            border-color: #ccc;
        }

        .registration-form .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .registration-form .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

</style>
{% endblock css %}

{% block content %}
<div class="col-md-4 mt-5 p-4 border mx-auto">
    <h5>User Registration</h5>
    <form id="register_form">{% csrf_token %}
        <div class="row">
            <div class="mb-3">
                <label for="fullname" class="form-label">Username</label>
                <input autofocus type="text" class="form-control" name="fullname" id="fullname" placeholder="Enter your username">
            </div>
            <div class="mb-3">
                <label for="contact_number" class="form-label">Contact Number</label>
                <input type="text" class="form-control" id="contact_number" name="contact_number"
                       placeholder="Enter your contact number">
            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password">
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Complete Address</label>
            <textarea class="form-control" id="address" name="address" placeholder="Enter complete address"></textarea>
        </div>
        <button type="submit" id="submit_form_btn" class="btn btn-primary w-100 mb-3">Sign Up</button>
        <a class="text-primary mx-auto" href="/accounts/login/">Already User? login account</a>
    </form>
</div>

{% endblock content %}

{% block js %}
<script>

$(document).ready(function() {
    $('#register_form').on('submit', function(e) {
        e.preventDefault();  // Prevent the form from submitting normally
        var fullname = $('#fullname').val();
        var contact_number = $('#contact_number').val();
        var email = $('#email').val();
        var password = $('#password').val();
        var address = $('#address').val();

        if (fullname === "") {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Please fill in the username field!',
            });
        }else if (contact_number === "") {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Please fill in the contact number field!',
            });
        }else if (email === "") {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Please fill in the email field!',
            });
        }else if (password === "") {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Please fill in the password field!',
            });
        }else if (address === "") {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Please fill in the address field!',
            });
        }
        else{

            var formData = $('#register_form').serialize();  // Serialize the form data
            $.ajax({
                url: '/accounts/register/',  // URL to the Django view
                type: 'POST',
                data: formData,
                success: function(response) {
                    // Handle the successful response
                    console.log(response);
                    Swal.fire({
                        title: 'Success',
                        text: response.msg,
                        icon: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        // Redirect to another page or perform additional actions
                        window.location.href = '/accounts/login/';
                    });
                },
                error: function(xhr, errmsg, err) {
                    // Handle the error
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        }
    });
});


</script>
{% endblock js %}
