<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mrc Therapy - Online Therapy</title>
    <!--fivicon icon-->
    <link rel="icon" href="/static/assets/img/icon/logo.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/assets/css/animate.min.css">
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/magnific.min.css">
    <link rel="stylesheet" href="/static/assets/css/nice-select.min.css">
    <link rel="stylesheet" href="/static/assets/css/owl.min.css">
    <link rel="stylesheet" href="/static/assets/css/slick-slide.min.css">
    <link rel="stylesheet" href="/static/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <link rel="stylesheet" href="/static/assets/css/responsive.css">
    <link rel="stylesheet" href="/static/assets/css/plyr.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">

    {% block css %}
    {% endblock css %}
</head>
<body class='sc5'>
<!-- only ajax loader -->
<div id="loader" class="d-none"></div>
<!-- end only ajax loader -->

<!-- preloader area start -->
<div class="preloader" id="preloader">
    <div class="preloader-inner">
        <div id="wave1">
        </div>
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>
</div>
<!-- preloader area end -->
<div class="body-overlay" id="body-overlay"></div>

<!-- search popup area start -->
<div class="search-popup" id="search-popup">
    <form action="home.html" class="search-form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search.....">
        </div>
        <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
    </form>
</div>
<!-- //. search Popup -->
<header class="navbar-area">
    <nav class="navbar navbar-expand-lg shadow">
        <div class="container nav-container">
            <div class="responsive-mobile-menu">
                <button class="menu toggle-btn d-block d-lg-none" data-target="#themefie_main_menu"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-left"></span>
                    <span class="icon-right"></span>
                </button>
            </div>
            <div class="logo">
                <a class="main-logo" href="/">
                    <img src="/static/assets/img/logo.png" alt="img">
                </a>
            </div>
            <div class="nav-right-part nav-right-part-mobile">
                <span><b>Mrc Therapy</b></span>
                <ul>
                    <li><a class="search header-search" href="#"><i class="fa fa-search"></i></a></li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="themefie_main_menu">
                <div class="single-input-wrap">
                    <input type="text" readonly placeholder="Search your best courses">
                    <button><i class="fa fa-search"></i></button>
                </div>
                <ul class="navbar-nav menu-open text-end">
                    <li><a href="/">Home</a></li>
                    <li><a href="/my-courses/">My Therapy</a></li>
                    <li><a href="/demo/demo-therapy/">Demo</a></li>
                    <li><a href="/accounts/contact_us/">Contact Us</a></li>
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdown" role="button">
                            Privacy and Policy
                        </a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li><a class="dropdown-item" href="/accounts/term_condition/">Term and conditions</a></li>
                            <li><a class="dropdown-item" href="/accounts/cancel_refund/">Cancellation and refund</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/accounts/shiping/">Shiping</a></li>
                            <li><a class="dropdown-item" href="/accounts/privacy_policy/">Privacy and policy</a></li>
                        </ul>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li>
                        <a href="/accounts/logout/" class="btn btn-xs btn-base-light">
                            Logout
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a href="/accounts/login/" class="btn btn-xs btn-base-light">
                            Login
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
<!--            <div class="nav-right-part nav-right-part-desktop">-->
<!--                <ul>-->
<!--                    {% if request.user.is_authenticated %}-->
<!--                    <li>-->
<!--                        <a href="/accounts/logout/" class="btn btn-base-light">-->
<!--                            Logout-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    {% else %}-->
<!--                    <li>-->
<!--                        <a href="/accounts/login/" class="btn btn-base-light">-->
<!--                            Login-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    {% endif %}-->
<!--                </ul>-->
<!--            </div>-->
        </div>
    </nav>
</header>

{% block content %}
{% endblock content %}

<!-- back-to-top end -->
<div class="back-to-top">
    <span class="back-top"><i class="fas fa-angle-double-up"></i></span>
</div>

<div class="container">
    <div class="footer-bottom">
        <div class="row">
            <div class="col-xl-7 align-self-center">
                <div class="d-md-flex align-items-center mb-4 mb-xl-0">
                    <div class="logo d-inline-block">
                        <img src="/static/assets/img/icon/footer_logo.png" alt="img">
                    </div>
                    <div class="copyright-area">
                        <p>© 2023 - Mrc Therapy. All Rights Reserved</p>
                        <p>Any Query You can Call / Whatsapp +91 741 774 1774</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 align-self-center text-xl-end">
                <ul class="social-area d-inline-block">
                    <li><a href="https://www.facebook.com/mrc.aarogyam" target="_blank">
                        <svg class="svg-inline--fa fa-facebook-f fa-w-10" aria-hidden="true" focusable="false"
                             data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 320 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                  d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"></path>
                        </svg><!-- <i class="fab fa-facebook-f"></i> Font Awesome fontawesome.com --></a></li>
                    <li><a href="https://www.youtube.com/@mrcayurveda3775" target="_blank">
                        <svg class="svg-inline--fa fa-youtube fa-w-10" aria-hidden="true" focusable="false"
                             data-prefix="fab" data-icon="youtube" role="img" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 576 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                  d="M549.655 112.606c-6.281-23.65-24.072-42.444-47.739-48.731C458.122 48 288 48 288 48S117.878 48 73.083 63.875c-23.667 6.286-41.458 25.081-47.739 48.731-12.168 45.792-12.168 94.588-12.168 94.588v94.588c0 0 0 48.795 12.168 94.587 6.281 23.65 24.072 42.444 47.739 48.73C117.878 464 288 464 288 464s170.122 0 214.917-15.875c23.667-6.286 41.458-25.081 47.739-48.73 12.168-45.792 12.168-94.587 12.168-94.587v-94.588c0 0 0-48.796-12.168-94.588zM228.436 336.134V175.867l145.045 80.634-145.045 79.633z"></path>
                        </svg>
                    </a></li>

                    <li><a href="https://www.youtube.com/@DrAbhishekSharmaMRC" target="_blank">
                        <svg class="svg-inline--fa fa-youtube fa-w-10" aria-hidden="true" focusable="false"
                             data-prefix="fab" data-icon="youtube" role="img" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 576 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                  d="M549.655 112.606c-6.281-23.65-24.072-42.444-47.739-48.731C458.122 48 288 48 288 48S117.878 48 73.083 63.875c-23.667 6.286-41.458 25.081-47.739 48.731-12.168 45.792-12.168 94.588-12.168 94.588v94.588c0 0 0 48.795 12.168 94.587 6.281 23.65 24.072 42.444 47.739 48.73C117.878 464 288 464 288 464s170.122 0 214.917-15.875c23.667-6.286 41.458-25.081 47.739-48.73 12.168-45.792 12.168-94.587 12.168-94.587v-94.588c0 0 0-48.796-12.168-94.588zM228.436 336.134V175.867l145.045 80.634-145.045 79.633z"></path>
                        </svg>
                    </a></li>

                    <li><a href="https://www.instagram.com/dr.abhishek__sharma/?igsh=MXNka3N5OXZqOTNnZQ%3D%3D" target="_blank">
                        <svg class="svg-inline--fa fa-instagram fa-w-14" aria-hidden="true" focusable="false"
                             data-prefix="fab" data-icon="instagram" role="img" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 448 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                  d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path>
                        </svg><!-- <i class="fab fa-instagram"></i> Font Awesome fontawesome.com --></a></li>
                    <li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- all plugins here -->
<script src="/static/assets/js/jquery.3.6.min.js"></script>
<script src="/static/assets/js/bootstrap.min.js"></script>
<script src="/static/assets/js/imageloded.min.js"></script>
<script src="/static/assets/js/counterup.js"></script>
<script src="/static/assets/js/waypoint.js"></script>
<script src="/static/assets/js/magnific.min.js"></script>
<script src="/static/assets/js/isotope.pkgd.min.js"></script>
<script src="/static/assets/js/nice-select.min.js"></script>
<script src="/static/assets/js/fontawesome.min.js"></script>
<script src="/static/assets/js/ripple.js"></script>
<script src="/static/assets/js/owl.min.js"></script>
<script src="/static/assets/js/slick-slider.min.js"></script>
<script src="/static/assets/js/wow.min.js"></script>
<!-- main js  -->
<script src="/static/assets/js/main.js"></script>
<script src="/static/assets/js/plyr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
{% block js %}
{% endblock js %}
</body>
</html>
