{% extends 'base.html' %}

{% block css %}
<style>
    .table-responsive {
      overflow-x: auto;
    }


</style>
{% endblock css %}

{% block content %}
<div class="container p-5">
    <h5 class="mt-5 mb-3">Shopping Cart</h5>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Selet Months for Purchasing Course</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{course.name}}</td>
                <td>{{pay_amt|add:pay_amt}}</td>
                <td>
                    <select class="form-control" name="month_money" id="month_money">
                    </select>
                </td>
                <td>{{pay_amt|add:pay_amt}}</td>
            </tr>

            </tbody>
            <tfoot>
            <tr>
                <td class="text-right" colspan="3">Subtotal:</td>
                <td>{{pay_amt|add:pay_amt}}</td>
            </tr>
            <tr>
                <td class="text-right" colspan="3">Discount:</td>
                <td>50 % Off</td>
            </tr>
            <tr>
                <td>Final Amount to Pay:</td>
                <td class="text-end"> You have selected for </td>
                <td class="text-end"> {{month}} {% if month == 1 %} Month {% else %} Months {% endif %} : </td>
                <td>INR - {{pay_amt}}</td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div class="mx-auto col-lg-6">
        <button class="w-100 form-control btn btn-success mx-auto" id="rzp-button1">Checkout</button>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var index_id = 1
    $(document).ready(function(){
        get_month_money()
    });

    $("#month_money").on("change", function() {
        var selectedValue = $(this).val();
        var selectedText = $(this).find("option:selected").text();
        console.log("Selected value: " + selectedValue);
        console.log("Selected text: " + selectedText);

        window.location.href = '/cart-page/'+selectedValue+'/'+{{id}}+'/'

    });

    function get_month_money(){
        var myObject = {
          'course_id':'{{course.id}}',
        }
        $.ajax({
            url: '/month_amount/',
            method: 'GET',
            // contentType: 'application/json',
            data: myObject,
            success: function (response) {
                var responseData = response;
                //console.log(responseData,'==-----------1')

                var html = '';
                var html = '<option>Select Month</option>';

                $.each(responseData.monts, function(index, element) {
                    html += '<option id="select_month'+index_id+'" value="'+element.month+'">'+element.month+'</option>';
                    index_id++
                });

                $('#month_money').html(html);
            },
            error: function (xhr, status, error) {
                // Handle error here
                console.log(error);
            }
        });
    }

    var options = {
      "key": "rzp_test_5oHU1szIwHcSIn", // Enter the Key ID generated from the Dashboard
      "amount": '10000', // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
      "currency": "INR",
      "name": "Mrc Vrindavan",
      "description": "Medical Facilities for all",
      "image": "https://example.com/your_logo",
      "order_id": '{{order_id}}', //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
      "handler": function (response) {

        console.log(response);

        var url = '/success/';

        var myObject = {

          'razorpay_order_id': response.razorpay_order_id,
          'razorpay_payment_id': response.razorpay_payment_id,
          'razorpay_signature':response.razorpay_signature,
          'course_id':'{{course.id}}',
          'price':'{{pay_amt}}',
          'discount':50,
          'totalprice':'{{pay_amt}}',
          'quantity':'1',
          'payment_status':'success'

        }

        $.ajax({
            url: url,
            method: 'GET',
            // contentType: 'application/json',
            data: myObject,
            success: function (response) {
                var responseData = response;
                if(responseData.msg == 'success'){
                  window.location.href = '/my-courses/';
                }
            },
            error: function (xhr, status, error) {
                // Handle error here
                console.log(error);
            }
        });

      },
    };

    var rzp1 = new Razorpay(options);

    rzp1.on('payment.failed', function (response) {
      alert(response.error.code);
      alert(response.error.description);
      alert(response.error.source);
      alert(response.error.step);
      alert(response.error.reason);
      alert(response.error.metadata.order_id);
      alert(response.error.metadata.payment_id);
    });


    document.getElementById('rzp-button1').onclick = function (e) {
      rzp1.open();
      e.preventDefault();
      console.log(options)
    }

</script>
{% endblock js %}
