{% extends 'new_base.html' %}

{% block css %}
{% endblock css %}

{% block content %}

<div class="container">
    <div class="mb-3">
        {% if pre_next == 'pre' %}
        <a href="javascript:void(0)" id="prevButton" class="me-2 btn-sm btn-primary">Previous</a>
        {% else %}
        <a href="/watch-video/pre/{{file_type}}/{{course_id}}/{{file_id}}/" id="prevButton"
           class="me-2 btn-sm btn-primary">Previous</a>
        {% endif %}

        {% if pre_next == 'next' %}
        <a href="javascript:void(0)" id="nextButton" class="m2 btn-sm btn-primary">Next</a>
        {% else %}
        <a href="/watch-video/next/{{file_type}}/{{course_id}}/{{file_id}}/" id="nextButton"
           class="m2 btn-sm btn-primary">Next</a>
        {% endif %}
    </div>

    <div class="row">

        {% if request.user.is_authenticated %}
        {% if data %}
        <div class="col-md-6">
            <h2>Video Gallery</h2>
            <div class="video-container">
                {% if file_type == 'video' %}
                <video class="plyr img-fluid" controls controlsList="nodownload" height="540px" id="video_frame"
                       src="{% if data.file %}{{data.file.url}}{% endif %}" type="video/mp4" width="960px">
                </video>
                {% else %}

                <audio controls controlsList="nodownload">
                    <source src="{% if data.file %}{{data.file.url}}{% endif %}" type="audio/mpeg">
                </audio>
                {% endif %}
            </div>
        </div>

        <div class="col-md-6">
            <h2>Video and Audio Instructions</h2>
            <div class="video-container">
                <p style="text-align: justify;">
                    Best Experience के लिए Headphone का उपयोग करें।

                    जब भी ऑडियो को सुनना हो तो Wifi होने की स्थिति पर Aroplane mode का उपयोग कर net Wifi से चलाए और
                    Relax होकर लेट जाये और निश्चित करें कि कोई आपको डिस्टर्ब न करें।

                    नोट: अपनी अकाउंट डिटेल किसी के साथ शेयर न करें या बार बार नई डिवाइस में login न करें या अन्यथा आपका
                    अकाउंट ब्लॉक हो जाएगा
                </p>
            </div>
        </div>
        {% endif %}
        {% else %}
        {% endif %}
    </div>
</div>

{% endblock content %}

{% block js %}
<script>
    var playCount = ''
    $('video, audio').on('ended', function () {
        var video_id = $('#video_id').val();
        var myObject = {
          'count':1
        }

        $.ajax({
            url: '/count_video/'+'{{data.id}}'+'/',
            method: 'GET',
            data: myObject,
            success: function (response) {
                var responseData = response;
                if(responseData.status == 1){
                   location.reload()
                }
            },
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        const players = Plyr.setup('.plyr');
    });



</script>

{% endblock js %}

