{% extends 'base.html' %}

{% block css %}
{% endblock css %}


{% block content %}

<div class="container">
    <div class="d-flex text-center">
        <button id="prevButton" class="m-2 btn btn-primary">Previous</button>
        <button id="nextButton" class="m-2 btn btn-primary">Next</button>
    </div>

    </div>

    <div class="row">
        {% if request.user.is_authenticated %}
        {% if data %}
        <div class="col-md-6">
            <h2>Video Gallery</h2>
            <div class="video-container">
                {% if file_type == 'video' %}
                <video class="plyr img-fluid" controls controlsList="nodownload" height="540px" id="video_frame"
                       src="{% if data.file %}{{data.file.url}}{% endif %}" type="video/mp4" width="960px">
                </video>
                {% else %}

                <audio controls controlsList="nodownload">
                  <source src="{% if data.file %}{{data.file.url}}{% endif %}" type="audio/mpeg">
                </audio>
                {% endif %}
            </div>
        </div>

        <div class="col-md-6">
            <h2>Video and Audio Instructions</h2>
            <div class="video-container">
                <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dicta
                    placeat suscipit voluptatibus
                    omnis cum dignissimos velit, quibusdam corporis cumque, alias laborum impedit
                    cupiditate
                    consequatur, ipsam quo illum quas repudiandae vel.</p>
            </div>
        </div>
        {% endif %}
        {% else %}
        {% endif %}
    </div>
</div>

{% endblock content %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/plyr@3.6.4/dist/plyr.min.js"></script>
<script>
    var playCount = ''
    $('video, audio').on('ended', function () {
        var video_id = $('#video_id').val();
        var myObject = {
          'count':1
        }

        $.ajax({
            url: '/count_video/'+'{{data.id}}'+'/',
            method: 'GET',
            data: myObject,
            success: function (response) {
                var responseData = response;
                if(responseData.status == 1){
                   location.reload()
                }
            },
            error: function (xhr, status, error) {
                // Handle error here
                console.log(error);
            }
        });

    });
    document.addEventListener('DOMContentLoaded', function () {
        const players = Plyr.setup('.plyr');
    });
</script>
{% endblock js %}

