{% extends 'new_base.html' %}
{% block css %}
<style>
     .scrollableDiv {
          height: 540px;
          overflow-y: scroll;
     }
     .cursor-pointer{
        cursor:pointer;
     }
</style>
{% endblock css %}

{% block content %}
<!-- courses-details Area Start-->


<section class="courses-details-area mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-3">
                <div class="single-course-wrap mb-0">
                    <div class="thumb">
                        <video controls autoplay controlsList="nodownload" id="video_frame"
                               src="" type="video/mp4" class="img-fluid plyr" poster="">
                        </video>
                    </div>
                    <div class="wrap-details">
                            <h5 id="video_title">First select Course Syllabus video or audio.</h5>
                            <!--<p>Learn Python like a Professional Start from the basics</p>-->
                            <div class="user-area">
                                <div class="user-details">
                                    <!--<img src="assets/img/author/1.png" alt="img">-->
                                    <p><strong>Instructor:</strong> Dr. Abhishek Sharma</p>
                                </div>
                                <div class="date ms-auto">
                                    <i class="fa fa-calendar-alt me-2" style="color: var(--main-color);"></i>Last updated 1/2024
                                </div>
                                <div class="ms-auto">
                                    <i class="fa fa-user me-2" style="color: var(--main-color);"></i>5k already enrolled
                                </div>
                                <div class="user-rating">
                                    <span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-alt"></i>
                                    4.9</span>(1.7k)
                                </div>
                            </div>

                        </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3 sidebar-area">
                <div class="widget widget-accordion-inner scrollableDiv">
                    <h5 class="widget-title border-0">Course Syllabus</h5>
                    <div class="accordion" id="accordionExample">
                        {% for data in data %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse{{forloop.counter}}" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                    {{data.title}}
                                </button>
                            </h2>
                            <div id="collapse{{forloop.counter}}" class="accordion-collapse collapse"
                                 aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul>
                                        <li class="cursor-pointer" onclick="play_video('{{data.title}}', '{{data.file.url}}', '{{data.file_type}}')">
                                            <i class="fa fa-play"></i>
                                            <span>
                                                <p>{{data.title}}</p>
                                                <span>1m 24s</span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- courses-details Area End -->
{% endblock content %}

{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const players = Plyr.setup('.plyr');
    });
    var sleep_headphone = '/static/assets/img/sleep_headphone.jpg'
    function play_video(title, file, file_type) {
        if (file, file_type){
            if (file_type == 'audio'){
                $('#video_frame').attr('poster', sleep_headphone)
            }
            $('#video_frame').attr('src', file)
            $('#video_title').html(title)
        }else{
            $('#video_frame').attr('poster', '')
            $('#video_frame').attr('src', '')
            $('#video_title').html('')
        }
    }
</script>
{% endblock js %}
