{% extends 'base.html' %}

{% block css %}
<style>
        .video-container {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */
            margin: 0 auto;
        }

        .video-container video {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        @media (max-width: 768px) {
            /* Adjust dimensions for smaller screens */
            .video-container {
                padding-bottom: 75%; /* 4:3 aspect ratio (3 / 4 * 100) */
            }
        }
</style>
<style>
        body {
            font-family: 'Arial', sans-serif;
            background: linear-gradient(to right, #f8f9fa, #acd8aa);
        }

        .navbar {
            background-color: rgba(0, 0, 0, 0.5);
        }

        .course-list {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            padding-top: 10px; /* Add padding to push content below the navbar */
        }

        .course-video {
            flex: 1;
            max-width: 50%;
            position: relative;
        }

        .tv-frame {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('tv-frame.png') no-repeat center center;
            background-size: contain;
            z-index: -1;
        }

        .course-video video {
            width: 100%;
            border-radius: 10px;
        }

        .course-details {
            flex: 1;
            max-width: 50%;
            padding: 20px;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        }

        .course-details h3 {
            font-size: 24px;
            margin-bottom: 15px;
        }

        .course-details p {
            font-size: 16px;
            color: #666;
            margin-bottom: 10px;
        }

        .enroll-btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #ff6b6b;
            color: #fff;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .enroll-btn:hover {
            background-color: #e74c3c;
        }

        a{
            text-decoration:none;
            color:black;
        }

        .custom-card {
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease-in-out;
          }

          .custom-card:hover {
            transform: scale(1.05);
          }

</style>
{% endblock css %}

{% block content %}

{% if id == 0 %}
<h3 class="text-center mt-3">Our Courses</h3>
<div class="container mx-auto mt-4">
    <div class="row mx-auto text-center">
        {% for course_master in course_master %}
        <div class="col-lg-4 col-md-6 col-sm-12 p-3 custom-card bg-light" onclick="get_course('{{course_master.id}}')">
            <img class="img-fluid" src="{{course_master.image.url}}">
            <h4><b>{{course_master.name}}</b></h4>
            <p>{{course_master.description}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}

<div class="col-lg-10 mx-auto p-1">
    {% for course_master in course_master %}
    <div class="container mt-5">
        <div class="course-list">
            <div class="row mx-auto">
                <div class="course-video">
                    <video controls controlsList="nodownload" poster="{% if course_master.course_image %}{{course_master.course_image.url}}{% endif %}" width="100%"/>
                    <source src="{% if course_master.demo_video %}{{course_master.demo_video.url}}{% endif %}"
                            type="video/mp4">
                    </video>
                </div>
                <div class="course-details">
                    <h3>{{course_master.name}}</h3>
                    <p><strong>Instructor:</strong> Dr. Abhishek Sharma</p>
                    <p><strong>Duration:</strong> {{course_master.validate_for}} {% if course_master.validate_for == 1 %}
                        Month
                        {% else %} Months {% endif %}</p>
                    <p>{{course_master.description|slice:'100'}}</p>
                    <button class="enroll-btn" id="enroll_btn" onclick="enroll_now('{{course_master.id}}')">Enroll Now
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
        <p class="text-center mt-4">No course data available right now.</p>
    {% endfor %}
</div>

{% endif %}

{% endblock content %}

{% block js %}
<script>
    function enroll_now(course_id){
        window.location.href = '/cart-page/'+course_id+'/';
    }

    function get_course(course_id){
        window.location.href = '/'+course_id+'/';
    }


</script>
{% endblock js %}
