{% extends 'new_base.html' %}
{% block css %}
<style>
    .banner-img{
        margin-top:100px;
    }


</style>
{% endblock css %}

{% block content %}
<!-- Banner Area Start-->
{% if id == 0 %}
<section class="banner-area" style="background-image: url(/static/assets/img/banner/0.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 align-self-center">
                <div class="banner-inner text-md-start text-center">
                    <h1>Welcome to our <span>MRC Therapy</span></h1>
                    <div class="banner-content">
                        <p>Join us on this journey to harness the power of your subconscious mind for transformative growth,
                            success and being healthy. We also trained skilled  BAMS doctors (Kshar Sutra Surgery Online // Offline)
                            to help individuals unlock their full potential and improve their skills effectively.</p>
                    </div>
                    <div class="single-input-wrap">
                        <input type="text" placeholder="Search your best therapy">
                        <button><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Area End -->
{% endif %}

{% if id == 0 %}
<!-- trending courses Area Start-->
<section class="trending-courses-area">
    <div class="container">
        <div class="col-lg-8 mb-3 mx-auto p-5 text-center">
            <button id="watch_demo" type="button" class="btn btn-primary">Listen Demo</button>

            <div class="col-lg-6 d-none mx-auto" id="demo_code">
                <h6 class="mt-2">Only for one time so please listen complete demo when you have free 30 minutes</h6>
                <input id="user_code" class="form-control mt-3" type="text"  placeholder="Enter Demo Code"/>
                <button id="get_demo_data" type="button" class="btn btn-success mt-4">
                    Submit
                </button>
            </div>
        </div>

        <div class="col-lg-8 mb-3 mx-auto  d-none" id="demo_div">
            <div class="single-course-wrap mb-0">
                <div class="thumb">
                    <video controls controlsList="nodownload" id="video_frame"
                           src="{{demo_file}}" type="video/mp4" class="img-fluid plyr" poster="">
                    </video>
                </div>
            </div>
        </div>
        {% if course_master1 %}
        <div class="row">
            <div class="col-lg-12">
                <h4 class="text-center p-3"><em>Mrc Mantra Therapy</em></h4>
            </div>
            <div class="col-lg-12">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="">
                        <div class="row">
                            {% for course_master in course_master1 %}
                            <div class="item col-lg-3" onclick="get_course('{{course_master.id}}')">
                                <div class="single-course-wrap">
                                    <div class="thumb">
                                        <img class="img-fluid" src="{{course_master.image.url}}" alt="img">
                                    </div>
                                    <div class="wrap-details">
                                        <h6>{{course_master.name|title}}</h6>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}

        {% if course_master2 %}
        <div class="row">
            <div class="col-lg-12">
                <h4 class="text-center p-3"><em>Professional Courses & Therapy for Doctors</em></h4>
            </div>
            <div class="col-lg-12">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="">
                        <div class="row">
                            {% for course_master in course_master2 %}
                            <div class="item col-lg-3" onclick="get_course('{{course_master.id}}')">
                                <div class="single-course-wrap">
                                    <div class="thumb">
                                        <img class="img-fluid" src="{{course_master.image.url}}" alt="img">
                                    </div>
                                    <div class="wrap-details">
                                        <h6>{{course_master.name|title}}</h6>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if course_master3 %}
        <div class="row">
            <div class="col-lg-12">
                <h4 class="text-center p-3"><em>Mrc Therapy with collaborations</em></h4>
            </div>
            <div class="col-lg-12">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="">
                        <div class="row">
                            {% for course_master in course_master3 %}
                            <div class="item col-lg-3" onclick="get_course('{{course_master.id}}')">
                                <div class="single-course-wrap">
                                    <div class="thumb">
                                        <img class="img-fluid" src="{{course_master.image.url}}" alt="img">
                                    </div>
                                    <div class="wrap-details">
                                        <h6>{{course_master.name|title}}</h6>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if course_master4 %}
        <div class="row">
            <div class="col-lg-12">
                <h4 class="text-center p-3"><em>Free Devotional video</em></h4>
            </div>
            <div class="col-lg-12">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="">
                        <div class="row">
                            {% for course_master in course_master4 %}
                            <div class="item col-lg-3" onclick="get_course('{{course_master.id}}')">
                                <div class="single-course-wrap">
                                    <div class="thumb">
                                        <img class="img-fluid" src="{{course_master.image.url}}" alt="img">
                                    </div>
                                    <div class="wrap-details">
                                        <h6>{{course_master.name|title}}</h6>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
</section>
<!-- trending courses Area End -->
{% else %}

<!-- trending courses Area Start-->
<section class="trending-courses-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="text-center p-3">Our Therapy</h4>
            </div>
            <div class="col-lg-12">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="pills-1">
                        <div class="row">
                            {% for course_master in course_master1 %}
                            <div class="item col-lg-3">
                                <div class="single-course-wrap">
                                    <div class="thumb">
                                        {% if course_master.demo_video %}
                                        <video class="img-fluid" src="{{course_master.demo_video.url}}" controls
                                               controlsList="nodownload">
                                            {% else %}
                                            <img class="img-fluid" src="{{course_master.course_image.url}}" alt="img">
                                            {% endif %}
                                    </div>
                                    <div class="wrap-details">
                                        <h6>{{course_master.name|title}}</h6>
                                        <div class="user-area">
                                            <div class="user-details">
                                                <img src="/static/assets/img/author/1.png" alt="img">
                                                <p>{{course_master.instructor}}</p>
                                            </div>
                                            <div class="user-rating">
                                                <span><i class="fa fa-star"></i>4.1</span>(196)
                                            </div>
                                        </div>
                                        <div class="price-wrap">
                                            <div class="row align-items-center">
                                                <button type="button" class="btn-primary rounded"
                                                        onclick="enroll_now('{{course_master.id}}')">
                                                    Enroll Now
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% empty %}
                            <p class="text-center mt-4">No course data available right now.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- trending courses Area End -->

{% endif %}

{% endblock content %}

{% block js %}
<script>

    $('#watch_demo').click(function(){
        var user_id = '{{user_id}}'
        if (user_id == 'None'){
            window.location.href = '/accounts/login'
        }else{
            $('#demo_code').removeClass('d-none')
        }


    });

    function get_course(course_id){
        window.location.href = '/'+course_id+'/';
    }
    function enroll_now(course_id){
        window.location.href = '/buy_course_detail/'+course_id+'/';
    }

    $('#get_demo_data').click(function(){
        var bulk_code = $('#user_code').val()
        if(bulk_code == ''){
            Swal.fire({
                title: 'error',
                text: 'Please add code.',
                icon: 'error',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'OK'
            })
            return false;
        }else{
            $.ajax({
                url:'/demo/get_demo_data/',
                data:{
                    'bulk_code': bulk_code
                },
                success: function(data){
                    if (data.status == 0){
                        $('#demo_div').addClass('d-none')
                        Swal.fire({
                            title: 'Your demo is completed.',
                            text: 'Now choose the therapy & purchase or contact for more details Mob - +91 7417 7417 74',
                            icon: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'OK'
                        })
                        return false;
                    }else{
                        Swal.fire({
                            title: 'Success',
                            text: 'Press ok to continue watch demo.',
                            icon: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'OK'
                        }).then((result) => {
                            $('#demo_div').removeClass('d-none')
                        });
                    }
                },
            })
        }

    })
</script>

<script>
     const player = new Plyr('#video_frame', {
        controls: ['play', 'progress', 'current-time', 'mute', 'volume', 'settings', 'fullscreen'],
        hideControls: false
     });

    const video = document.getElementById('video_frame');

    video.addEventListener('play', function() {
        $.ajax({
            url:'/demo/count_video_play/',
            data:{
                'bulk_code': {{bulk_code}}
            },
            success: function(data){
                if (data.status == 0){
                    return false;
                }
            },
        })
    });

</script>
{% endblock js %}
