{% extends 'base.html' %}

{% block css %}
{% endblock css %}

{% block content %}
<div class="container">
    <div class="row">
        {% for course_data in my_course %}
        <div class="card col-lg-4">
            <img alt="" class="card-img-top"
                 src="{% if course_data.course_image.url %} {{course_data.course_image.url}} {% endif %}">
            <div class="card-body">
                <h5 class="card-title">{{course_data.name}}</h5>
                <p class="card-text">This course is valid for {% if course_data.validate_for == 1 %} {{course_data.validate_for}} year {% else %} {{course_data.validate_for}} years {% endif %}</p>
                <a class="btn btn-primary w-100" href="/watch-video/{{course_data.type}}/{{course_data.id}}/">Watch now</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block js %}
{% endblock js %}

