{% extends 'base.html' %}

{% block css %}
<style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }

        .course-card {
            border: 1px solid #ccc;
            border-radius: 10px;
            overflow: hidden;
            margin: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
        }

        .course-card:hover {
            transform: translateY(-5px);
        }

        .course-card img {
            width: 100%;
            height: auto;
        }

        .course-details {
            padding: 10px;
        }

        .course-title {
            font-size: 1.2rem;
            margin: 10px 0;
        }

        .course-description {
            font-size: 0.9rem;
            color: #666;
        }

</style>
{% endblock css %}

{% block content %}
<div class="container">
    <div class="row">
        {% for course_data in my_course %}
        <div class="col-lg-4 col-md-6">
            <div class="course-card">
                <img alt="" class="card-img-top"src="{% if course_data.course_image %} {{course_data.course_image.url}} {% endif %}"/>
                <div class="course-details">
                    <h2 class="course-title">{{course_data.name}}</h2>
                    <p class="card-text">This course is valid for
                        {% if course_data.validate_for == 1 %} {{course_data.validate_for}} Month {% else %} {{course_data.validate_for}} Months {% endif %}</p>
                    <a class="btn btn-primary w-100" href="/watch-video/{{course_data.type}}/{{course_data.id}}/">Watch now</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center">You don't have any course right now. <a href="/">View Courses</a></p>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block js %}
{% endblock js %}

