{% extends 'new_base.html' %}
{% block css %}
<style>
        #loader{
            position: fixed;
            left: 0%;
            top: 0%;
            z-index: 9999;
            height: 100%;
            width: 100%;
            opacity: .5;
            background-size: 50px auto !important;
            background:url("{{loader_img}}") 50% 50% no-repeat rgb(0, 0, 0);
        }
        .title{
            margin-bottom: 5vh;
        }
        .card{
            margin: auto;
            max-width: 950px;
            width: 90%;
            box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 1rem;
            border: transparent;
        }
        @media(max-width:767px){
            .card{
                margin: 3vh auto;
            }
        }
        .cart{
            background-color: #fff;
            padding: 4vh 5vh;
            border-bottom-left-radius: 1rem;
            border-top-left-radius: 1rem;
        }
        @media(max-width:767px){
            .cart{
                padding: 4vh;
                border-bottom-left-radius: unset;
                border-top-right-radius: 1rem;
            }
        }
        .summary{
            background-color: #ddd;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            padding: 4vh;
            color: rgb(65, 65, 65);
        }
        @media(max-width:767px){
            .summary{
            border-top-right-radius: unset;
            border-bottom-left-radius: 1rem;
            }
        }
        .summary .col-2{
            padding: 0;
        }
        .summary .col-10
        {
            padding: 0;
        }.row{
            margin: 0;
        }
        .title b{
            font-size: 1.5rem;
        }
        .main{
            margin: 0;
            padding: 2vh 0;
            width: 100%;
        }
        .col-2, .col{
            padding: 0 1vh;
        }
        a{
            padding: 0 1vh;
        }
        .close{
            margin-left: auto;
            font-size: 0.7rem;
        }
        img{
            width: 3.5rem;
        }
        .back-to-shop{
            margin-top: 4.5rem;
        }
        h5{
            margin-top: 4vh;
        }
        hr{
            margin-top: 1.25rem;
        }
        form{
            padding: 2vh 0;
        }
        select{
            border: 1px solid rgba(0, 0, 0, 0.137);
            padding: 1.5vh 1vh;
            margin-bottom: 4vh;
            outline: none;
            width: 100%;
            background-color: rgb(247, 247, 247);
        }
        input{
            border: 1px solid rgba(0, 0, 0, 0.137);
            padding: 1vh;
            margin-bottom: 4vh;
            outline: none;
            width: 100%;
            background-color: rgb(247, 247, 247);
        }
        input:focus::-webkit-input-placeholder
        {
              color:transparent;
        }
        .check-out-btn{
            background-color: #000;
            border-color: #000;
            color: white;
            width: 100%;
            font-size: 0.7rem;
            margin-top: 4vh;
            padding: 1vh;
            border-radius: 0;
        }
        .check-out-btn:focus{
            box-shadow: none;
            outline: none;
            box-shadow: none;
            color: white;
            -webkit-box-shadow: none;
            -webkit-user-select: none;
            transition: none;
        }
        .btn:hover{
            color: white;
        }
        a{
            color: black;
        }
        a:hover{
            color: black;
            text-decoration: none;
        }
         #code{
            background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253) , rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
            background-repeat: no-repeat;
            background-position-x: 95%;
            background-position-y: center;
        }


</style>
{% endblock css %}

{% block content %}
<section class="courses-details-area mt-2">
    <div class="card">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col"><h4><b>Cart Page</b></h4></div>
                        <div class="col align-self-center text-right text-muted">1 item</div>
                    </div>
                </div>

                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="{{course_data.course_image.url}}"></div>
                        <div class="col">
                            <div class="row text-muted">Therapy</div>
                            <div class="row">{{course_data.name}}</div>
                        </div>
                        <div class="col">
                            <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                        </div>
                        <div class="col">Price ₹ <span class="service_price">0.00</span></div>
                    </div>
                </div>

                <div class="back-to-shop"><a href="/">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
            </div>

            <div class="col-md-4 summary">
                <div><h5><b>Summary</b></h5></div>
                <hr>
                <div class="row">
                    <div class="col" style="padding-left:0;">ITEMS 1</div>
                    <div class="col text-right">Price ₹ <span id="service_price" class="service_price">0.00</span></div>
                </div>

                <form>
                    <p>Duration</p>
                    <select id="select_month" onchange="get_price_service()">
                    </select>

                    <p>GIVE CODE</p>
                    <input id="coupon_code" placeholder="Enter your code">
                </form>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col-lg-12">
                        <label>DISCOUNT</label>
                        <div class="col text-right"><span id="discount_price">0</span>%</div>
                    </div>

                    <div class="col-lg-12">
                        <label>TOTAL PRICE</label>
                        <div class="col text-right">₹ <span id="total_price">0.00</span></div>
                    </div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="price" id="price">
                    <input type="hidden" name="totalprice" id="totalprice">
                    <input type="hidden" name="discount" id="discount">
                    <input type="hidden" name="month" id="month">
                    <input type="hidden" name="razorpay_order_id" id="razorpay_order_id">
                    <input type="hidden" name="course_id" id="course_id">
                    <button type="submit" class="btn check-out-btn" id="rzp-button1">CHECKOUT</button>
                </form>

            </div>
        </div>

    </div>
</section>

{% endblock content %}

{% block js %}
<!--<script src="https://checkout.razorpay.com/v1/checkout.js"></script>-->
<script>
    $(document).ready(function(){
        $.ajax({
            url: '/get_service_month/',
            data:{
                'course_id': '{{course_data.id}}',
            },
            success: function(response){
                //console.log(response.data)
                var html = '';
                html += '<option class="text-muted" value="">Select Month</option>';
                $.each(response.data, function(index, item){
                    html += '<option class="text-muted" value="'+item.id+'">'+item.month+' Month '+'</option>';
                })
                $('#select_month').append(html)
            }
        });
    });

</script>

<script>

function get_price_service() {
    var month_id = $('#select_month').val();
    if (month_id) {
        $('#loader').removeClass('d-none');

        $.ajax({
            url: '/get_service_price/',
            data: {
                'month_id': month_id,
                'course_id': '{{course_data.id}}',
            },
            beforeSend: function () {
                $('#loader').removeClass('d-none');
            },
            success: function (response) {
                var month = response.data.month;
                var price = response.data.price;
                var order_id = response.order_id;
                var course_id = response.course_id;

                // Update HTML elements with the received data
                $('.service_price').html(price);
                $('#total_price').html(price);

                $('#price').val(price)
                $('#totalprice').val(price)
                $('#month').val(month)
                $('#razorpay_order_id').val(order_id)
                $('#course_id').val(course_id)

                var dis_count = Number($('#discount_price').html());
                if(dis_count){
                   var result = (Number(price) * Number(dis_count)) / 100;
                   $('#totalprice').val(result);
                   $('#total_price').html(result.toFixed(2));
                }

            },
            complete: function () {
                $('#loader').addClass('d-none');
            },
        });
    }
}



$('#coupon_code').on('keyup', function(){
    select_month = $('#select_month').val()
    if(select_month){
        var coupon_code = $(this).val();
        var initialAmount = $('#service_price').html();
        $.ajax({
            url: '/apply_coupon_code/',
            data: {
                'coupon_code': coupon_code,
            },
            success: function (response) {
                var percent = response.coupon_data
                if (percent.percent != '' && percent.percent != undefined){
                    console.log(percent.percent, '====================1')
                    $('#discount_price').html(Number(percent.percent));
                    var result = (Number(initialAmount) * Number(percent.percent)) / 100;
                    discount = Number(percent.percent);
                    $('#totalprice').val(result)
                    $('#discount').val(discount)
                    if (!isNaN(result)){
                        $('#total_price').html(result.toFixed(2));
                    }
                }else{
                    console.log('====================2')
                    $('#totalprice').val($('#price').val());
                    $('#discount').val(0);
                    $('#discount_price').html(0);
                    $('#total_price').html($('#price').val());
                }
            },
        });
    }else{
        alert('Please select month')
    }

})


</script>
{% endblock js %}
