{% extends 'base.html' %}

{% block css %}
    <style>
        .pointer{
            cursor: pointer;
        }

        .pointer:hover{
            background-color: gray;
        }

    </style>
{% endblock css %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <ul class="list-group">
                {% for data in data %}
                <li class="list-group-item pointer" onclick="play_video({% if data.title %} '{{data.title}}', {% else %} '', {% endif %} '{{data.file.url}}', '{{data.id}}' ,{% if data.thumb_video %} '{{data.thumb_video.url}}' {% endif %})">Day : {{data.day}}
                    <input type="hidden" value="{% if data.thumb_video %} {{data.thumb_video.url}} {% endif %}">
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-8">
            <video controls controlsList="nodownload" height="540px" id="video_frame" src="" type="video/mp4" width="960px" poster="{{thumb.file.url}}" class="img-fluid plyr">
            </video>
            <h3 class="text-center" id="video_title"></h3>
            <input type="hidden" value="" id="video_id">
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/plyr@3.6.4/dist/plyr.min.js"></script>
<script>
        function play_video(title, param1, video_id,  param2) {
            if (param1){
                $('#video_frame').attr('src', param1)
                $('#video_title').html(title)
            }else{
                $('#video_frame').attr('src', '')
                $('#video_title').html('')
            }

            if(param2){
                $('#video_frame').attr('poster', param2)
            }else{
                $('#video_frame').attr('poster', '{{thumb.file.url}}')
            }

            $('#video_id').val(video_id)
        }

        document.addEventListener('DOMContentLoaded', function () {
            const players = Plyr.setup('.plyr');
        });


        $('video, audio').on('ended', function () {
            var video_id = $('#video_id').val();
            var myObject = {
              'count':1
            }

            $.ajax({
                url: '/round_view/'+video_id+'/',
                method: 'GET',
                data: myObject,
                success: function (response) {
                    var responseData = response;
                    if(responseData.status == 1){
                       //location.reload()
                    }
                },
                error: function (xhr, status, error) {
                    // Handle error here
                    console.log(error);
                }
            });

        });

</script>
{% endblock js %}
