{% extends 'base.html' %}

{% block css %}
<style>
        .pointer{
            cursor: pointer;
        }

        .pointer:hover{
            background-color: gray;
        }
</style>
{% endblock css %}
{% block content %}

<div class="container">
    <div class="col-lg-8 mx-auto">
        <video controls controlsList="nodownload" height="540px" id="video_frame" src="{{news.video_file.url}}" type="video/mp4" width="960px"
               class="img-fluid plyr">
        </video>
    </div>
</div>
{% endblock content %}

{% block js %}

{% endblock js %}
