<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edufie - Online Courses Html Template</title>
    <!--fivicon icon-->
    <link rel="icon" href="assets/img/fevicon.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/magnific.min.css">
    <link rel="stylesheet" href="assets/css/nice-select.min.css">
    <link rel="stylesheet" href="assets/css/owl.min.css">
    <link rel="stylesheet" href="assets/css/slick-slide.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">


</head>
<body class='sc5'>
    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div id="wave1">
            </div>
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
    <!-- preloader area end -->
    <div class="body-overlay" id="body-overlay"></div>

    <!-- search popup area start -->
    <div class="search-popup" id="search-popup">
        <form action="home.html" class="search-form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search.....">
            </div>
            <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!-- //. search Popup -->

    <section class="admin-dashboard-section">
        <div class="admin-dashboard-right-side">
            <!-- top header start  -->
            <div class="main-header">
                <div class="header-wraper">
                    <div class="row">
                        <div class="col-xl-6">
                            <span class="header-user">
                                <a href="#"><img src="assets/img/author/02.png" alt="img"></a>
                                <span>Hello,
                                    <h5>Ramjan Ali Anik</h5>
                                </span>
                            </span>
                        </div>
                        <div class="col-xl-6 align-self-center text-lg-end">
                            <div class="d-lg-flex align-items-center">
                                <div class="user-rating text-center d-inline-block">
                                    <span class="d-block">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </span>
                                    4.0 (172 Ratings)
                                </div>
                                <a class="header-btn btn btn-white" href="#">Create a new course</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- top header end  -->

            <!-- dashboard-area start  -->
            <div class="dashboard-profile-area">
                <h5 class="dashboard-title">My Profile</h5>
                <a class="edit-btn" href="#"><i class="fa fa-pencil-alt me-2"></i>Edit</a>
                <ul>
                    <li><span>Registration Date</span>Faiday, 20 Dec 2020, 10:00 AM</li>
                    <li><span>First Name</span>Ramjan Ali</li>
                    <li><span>Last Name</span>Anik</li>
                    <li><span>Uasername</span>ramjanalianik</li>
                    <li><span>Email</span>demo@email.com</li>
                    <li><span>Phone Number</span>+123 12 24 567</li>
                    <li><span>Skil/Occupation</span>UX Designer & Web Developer</li>
                    <li><span>Bio</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor laoreet ornare morbi tortor in quis enim integer. Massa et mus odio adipiscing lectus arcu rutrum odio id. Lobortis turpis ligula lobortis ullamcorper sem luctus. Interdum sit quam dictum at mauris.</li>
                </ul>
            </div>
        </div>
        <!-- dashboard-left-menu start  -->
        <div class="dashboard-left-menu">
            <a href="" class="logo"><img src="assets/img/logo.png" alt="img"></a>
            <ul>
                <li class="nav-item">
                    <a class="dashboard-item-menu"  href="dashboard.html"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="dashboard-item-menu"  href="dashboard-profile.html"><i class="fa fa-user"></i> My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="dashboard-item-menu"  href="dashboard-course.html"><i class="fas fa-graduation-cap"></i>Enrolled Courses</a>
                </li>
                <li class="nav-item">
                    <a class="dashboard-item-menu"  href="dashboard-wishlist.html"><i class="fas fa-bookmark"></i>Wishlist</a>
                </li>
                <li class="nav-item">
                    <a class="dashboard-item-menu"  href="dashboard-review.html"><i class="fas fa-star"></i>Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="dashboard-item-menu"  href="#"><i class="fab fa-buffer"></i>My Quiz Attempts</a>
                </li>
                <li class="nav-item">
                    <a class="dashboard-item-menu"  href="#"><i class="fa fa-shopping-cart"></i>Purchase History</a>
                </li>
                <li class="nav-item">
                    <a class="dashboard-item-menu"  href="#"><i class="fa fa-rocket"></i>My Courses</a>
                </li>
                <li class="nav-item">
                    <a class="dashboard-item-menu"  href="#"><i class="fas fa-money-check"></i>Earnings</a>
                </li>
                <li class="nav-item">
                    <a class="dashboard-item-menu"  href="#"><i class="fas fa-wallet"></i>Withdrawal</a>
                </li>
                <li class="nav-item">
                    <a class="dashboard-item-menu"  href="#"><i class="fas fa-question-circle"></i>Quiz Attempts</a>
                </li>
                <li class="nav-item">
                    <a class="dashboard-item-menu"  href="#"><i class="fas fa-user-graduate"></i>Question & Answer</a>
                </li>
                <li class="nav-item">
                    <a class="dashboard-item-menu"  href="#"><i class="fas fa-book"></i>Assignments</a>
                </li>
                <li class="nav-item">
                    <a class="dashboard-item-menu"  href="#"><i class="fas fa-cog"></i>Settings</a>
                </li>
                <li class="nav-item">
                    <a class="dashboard-item-menu"  href="#"><i class="fas fa-sign-out-alt"></i>Logout</a>
                </li>
            </ul>
        </div>
    </section> 

    <!-- back-to-top end -->
    <div class="back-to-top">
        <span class="back-top"><i class="fas fa-angle-double-up"></i></span>
    </div>

    

    <!-- all plugins here -->
    <script src="assets/js/jquery.3.6.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/imageloded.min.js"></script>
    <script src="assets/js/counterup.js"></script>
    <script src="assets/js/waypoint.js"></script>
    <script src="assets/js/magnific.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/nice-select.min.js"></script>
    <script src="assets/js/fontawesome.min.js"></script>
    <script src="assets/js/ripple.js"></script>
    <script src="assets/js/owl.min.js"></script>
    <script src="assets/js/slick-slider.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <!-- main js  -->
    <script src="assets/js/main.js"></script>
</body>
</html>